
#cover{
	height: 620px;
	width: 1420px;
	/*box-shadow: 0px 0px 40px 10px #879350;*/
	background-color: #EAEC0C;
	margin-top: 50px;
	margin-left: 50px;
	perspective: 40px;
}
#vmanu{
	height: 420px;
	float: left;
	width: 60px;
	margin-top: 200px;
}
#vmanu img{
	display: block;
}
#hmanu{
	height: 120px;
	width: 1340px;
	float: right;
}
#hmanu p{
	color: black;
	font-size: 40px;
	margin-left: 250px;
	float: left;
	margin-top: 35px;
}
#div1{
	height: 120px;
	width: 500px;
	float: right;
	margin-right: 300px;
}
.same1 #sametext{
	font-size: 20px;
	margin: 0px;
	margin-left: 20px;
	vertical-align: text-bottom;
}
.same1 #same{
	height: 70px;
	width: 70px;
	padding-left: 15px;
	vertical-align: top;
}
#profilediv{
	height: 100px;
	width: 100px;
	margin-top: 18px;
	float: left;
	margin-left: 10px;
}
#profilediv:hover{
	background-color: white;
}
#resumediv{
	height: 100px;
	width: 100px;
	float: right;
	margin-right: 20px;
	margin-top: 18px;
}
#resumediv:hover{
	background-color: white;
}


#servicediv{
	height: 100px;
	width: 100px;
	float: right;
	margin-right: 20px;
	margin-top: 18px;
}
#servicediv:hover{
	background-color: white;
}
#contectdiv{
	height: 100px;
	width: 100px;
	float: right;
	margin-top: 18px;
	margin-right: 20px;
}
#contectdiv:hover{
	background-color: white;
}
#second{
	height: 490px;
	width: 1340px;
	float: right;

}
#photo{
	float: left;
	width: 500px;
	height: 490px;
	margin-left: 100px;
}
#ph{
	border: 6px solid white;
	height: 420px;
	width: 320px;
	margin-top: 40px;
	margin-right: 10px;
	float: right;
	border-radius: 20px;
}
#myimg{
	height: 400px;
	width: 300px;
	padding-top: 10px;
	padding-left: 10px;
	transition: transform 0.1s;
}


#contain{
	float: right;
	width: 720px;
	height: 490px;

}
#name{
	font-size: 40px;
	width: 300px;
	margin-top: 50px;
	
}
#line{
	font-size: 16px;
	height: 20px;
	
	width: 350px;
	padding-top: 0px;
}
#fullname{
	font-size: 14px;
}
#user{
	height: 27px;
	width: 27px;
	border-radius: 50px;
}
#obj{
	height: 17px;
	width: 17px;
}

#objective #td1{
	width: 20px;
}
#objective #td2{
	width: 400px;
	text-align: justify;
}
#fb{
	height: 34px;
	width: 34px;
	border: 0px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 30px;
	
}

#insta{
	height: 30px;
	width: 30px;
	border: 0px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 20px;
}
#twe{
	height: 30px;
	width: 30px;
	border: 0px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 20px;
}
#git{
	height: 35px;
	width: 35px;
	border: 0px;
	border-radius: 100px;
	margin-left: 18px;
	margin-top: 20px;
}
#stake{
	height: 30px;
	width: 30px;
	border: 0px;
	border-radius: 100px;
	margin-left: 20px;
	margin-top: 20px;
}
.same1{
	transition: transform 1s;

}
.same1:hover{
	transform: scale(1.19);
}
.same{
	transition: transform 1s;

}
.same:hover{
	transform: scale(1.5);
}
#rotate{
	border: 1px solid #EAEC0C;
}
p#rotate:hover{
	transform: scaleX(1.2);
	transition-duration: 2s;

}
#download{
	width: 300px;
	height: 100px;
	
}
#button1{
	margin-top: 80px;
	margin-left: 200px;
	background-color: black;
	color: white;
}
